
.navbar{
    background: #ff5f2d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#logo{
    width: 40px;
    height: 40px;
}
.carousel {
  margin: 20px 0 20px 0;
}
.iconRow{
  background-color: #ff5f2d;
  border-radius: 5px;
}
.carousel-item img{
  margin: auto;
}
.product-area{
  background-color: #eee;
}
.rounded-circle{
  background-color: #ff5f2d;
  width: 35px; 
  height: 35px;
}
.row{
  margin-bottom: 30px;
}